# Virtual Environment
venv/

# IDE
.idea/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db
test_install.py
test_mic.py
sample.mpeg
record.mpeg
response.mp3